body {
  background-color: white;
  font-family: 'Montserrat', 'Product Sans', serif !important;
  text-align: center;
  font-size: 15px;
  line-height: 2em;
}

.wrapper {
  text-align: center;
}

#wrapper {
    display: table;
    table-layout: fixed;
    margin-left: 5%;
    width:90%;
    height:25px;
    background-color:#fafafa;
    border-radius: 5px;
}
#wrapper div {
    display: table-cell;
    height:5%;
}


h1 {
  font-size: 50px;
  color: #EC058E;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #EC058E;
}

.header-fill {
    text-align: center;
    height: 2%;
    background-color: #EC058E;
    margin-top:none;
    padding-top: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.content {
  margin-top: 2%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0;
  padding: 1rem;
  background-color: #fafafa;
  text-align: center;
}
